{% extends "base.html" %} 
{% load static from staticfiles %}
{% load mathfilters %}
{% block header %}
<div class="bodywhite">
  {% for emp in empleado %}   
    {% ifequal emp.departamento.nombre "Ventas" %}
      {% include "menucoco.html" %}
    {% endifequal %}
    {% ifequal emp.departamento.nombre "Producción" %}
      {% include "menuproduccion.html" %}
    {% endifequal %}
    {% ifequal emp.departamento.nombre "Control de Calidad" %}
      {% include "menucc.html" %}
    {% endifequal %}
    {% ifequal emp.departamento.nombre "Dirección" %}
      {% include "menudir.html" %}
    {% endifequal %}
    {% ifequal emp.departamento.nombre "Producto T" %}
      {% include "menual.html" %}
    {% endifequal %}
  {% empty%}
      No hay usuarios
  {% endfor %}
  <div class="container"> 
    <div class="row ">
      <div class="col-xs-12 col-md-8 text-left">
        <header class="text-capitalize activo">
          <div class="page-header">
            <h1>Busqueda</h1>
          </div>
        </header>
      </div>
      <div class="col-xs-12 col-md-4 text-right">
        <header class="text-capitalize activo">          
          <form action="." method="GET" class="navbar-form navbar-left" role="search">  
            <div class="form-group col-xs-10">             
              <div class='input-group date' id='datetimepicker'> 
                <input type="text" name="q" value="{{ query|escape }}" class="form-control" placeholder="Search">
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>

            </div> 
            <div class="col-xs-2">
              <button type="submit" class="btn backazul "><span class="glyphicon glyphicon-search blanco"></span></button>
            </div> 
            
          </form>
        </header>
      </div>
    </div>
      
{% endblock %} 
{% block contedor %}
    <div class="row text-center areaprint">
  {% if query %}
    <h2>Resultados para "{{ query|escape }}":</h2>    
        <div class="row text-center">
          <div class="col-md-4 col-md-offset-8 col-xs-12 text-right "> 
            <div class="form-group" >         
              <button class=" btn backazul blanco btnprint " value="Next" >
                <span class="glyphicon glyphicon-print blanco"></span>
              </button>
              <button type="button" class="btn backazul blanco btnHide" data-toggle="button" aria-pressed="false" autocomplete="off"/> 
                ocultar columnas
              </button>
              
            </div>
          </div>
        </div>
        <div class="col-md-12 text-left table-responsive "> 
              <table  class="table table-striped">
              <thead>
          <tr>
            <th >Producto</th>
            <th class="del">Realizada</th> 
            <th class="del">Esperada</th>
            <th class="del">Reproceso</th> 
            <th class="del">Faltantes</th> 
            <th >Total</th>
            <th class="del">Eficiencia PE</th>           
            <th class="del hidden">Fecha</th>
            
          </tr>
              </thead>              
              <tbody>
                {% if results %}  
                  {% for salida in results %}
                    <tr>
                      {% for emp in empleado %}   
                      {% ifequal emp.departamento.nombre "Producción" %}
                            <td class="text-capitalize">
                                <a href="{{ salida.get_absolute_url }}">{{ salida.producto.name }}</a>
                            </td>
                            {% else %}
                            <td class="text-capitalize">
                                {{ salida.producto.name }}
                            </td>
                            {% endifequal %}
                      {% empty%}
                          No hay usuarios
                      {% endfor %}
                      <td class="del">
                        {{ salida.cantidad }} 
                      </td>
                      <td class="del">
                        {{ salida.produccion_esperada.cantidad}}
                      </td>
                      <td class="del">
                        {{ salida.cantidad_reproceso}}
                      </td>
                      <td class="del">
                        {{ salida.produccion_esperada.cantidad|sub:salida.cantidad }}
                      </td>
                       <td >
                        {{ salida.produccion_total }} 
                      </td>
                      <td class="del">
                        {{ salida.get_rendimiento|floatformat:2 }}%
                      </td>
                      <td class="del hidden">
                        {{ salida.fecha_de_elaboracion }}
                      </td>
                    </tr>                   
                  {% endfor %} 
                  {% else %}             
                    <p>No hay salidas</p>
                  {% endif %}
                                    
              </tbody>
              </table>        
        </div>
    
  {% endif %}
         
    </div>
    <div class="row text-center">
      <div class="col-md-4 col-md-offset-8 col-xs-12 text-right "> 
        <div class="form-group" >         
          <button class=" btn backazul blanco btnprint " value="Next" >
            <span class="glyphicon glyphicon-print blanco"></span>
          </button>
          <button type="button" class="btn backazul blanco btnHide" data-toggle="button" aria-pressed="false" autocomplete="off"/> 
            ocultar columnas
          </button>
          
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block scripts_adicionales %}

<script type="text/javascript"
  src="{% static "js/moment.js" %}">
</script>
<script type="text/javascript"
  src="{% static "js/bootstrap-datetimepicker.js" %}">
</script>
<script type="text/javascript"
  src="{% static "js/es.js" %}">
</script>
<script>
$(function () {
    $('#datetimepicker').datetimepicker({
        language: 'es',
        pickTime: false,
        format: 'YYYY-MM-DD'

    });
  
});  

</script>
<script type="text/javascript">
   $(document).ready(function() {
           
            $('.btnHide').click(function() {
                $('.del').toggle();
                // if your table has header(th), use this
                //$('td:nth-child(2),th:nth-child(2)').hide();
            });
        });
</script>
<script type="text/javascript"
  src="{% static "js/print.js" %}">
</script>
<script>
 $(document).ready(function(){
        $(".btnprint").click(function(){
          $( ".areaprint" ).printArea();
        });
    });
</script>
{% endblock %}  